<% provide(:button_text, '変更を送信する') %>

<div class="modal-dialog modal-lg modal-dialog-center">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      <h1 class="modal-title">【残業申請】</h1>
    </div>
    <div class="modal-body">
      <div class="row">
        <div class="col-md-6 col-md-offset-3">
          <%= form_with(model: @attendance, url: attendances_update_overwork_request_user_path, local: true, method: :patch) do |f| %>
            <table class="table table-bordered table-condensed table-hover" id="table-attendances">
              <thead>
                <tr>
                  <th>日付</th>
                  <th>曜日</th>
                  <th>終了予定時間</th>
                  <th>翌日</th>
                  <th>業務処理内容</th>
                  <th>指示者確認㊞</th>
                </tr>
                
              <tbody>
                <% @attendances.each do |day| %>
                  <% css_class = 
                     case $days_of_the_week[day.worked_on.wday]
                     when '土'
                       'text-primary'
                     when '日'
                       'text-danger'
                     end
                  %>
                  <%= f.fields_for "attendances[]",day do |attendance| %>
                    <td><%= l(day.worked_on, format: :short) %></td>
                    <td class="<%= css_class %>"><%= $days_of_the_week[day.worked_on.wday] %></td>
                    <% end %>
                    <td><%= attendance.time_field :scheduled_end_time, class: "form-control" %></td>
                    <td><%= attendance.check_box :next_day %></td>
                    <td><%= attendance.text_field :business_process, class: "form-control" %></td>
                    <td><%= attendance.select :confirmation, class: "form-control" %></td>
                  <% end %>
                <% end %>
              </tbody>

            <div class="center">
              <%= f.submit yield(:button_text), class: "btn btn-primary" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>