<% provide(:button_text, '変更を送信する') %>

<div class="modal-dialog modal-lg modal-dialog-center">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <h4 class="modal-title center">【残業申請】</h4>
      <div class="row">
        <div class="col-md-12">
          <%= form_with(model: @attendance, url: update_overwork_request_user_attendance_path(@user, @attendance), local: true, method: :patch) do |f| %>
            <%= f.hidden_field :request, :value => "残業申請中" %>
            <table class="table table-bordered table-condensed table-hover" id="table-attendances">
              <thead>
                <tr>
                  <th>日付</th>
                  <th>曜日</th>
                  <th>終了予定時間</th>
                  <th>翌日</th>
                  <th>業務処理内容</th>
                  <th>指示者確認㊞</th>
                </tr>
              </thead>
              <tbody>
                <% css_class = 
                     case $days_of_the_week[@attendance.worked_on.wday]
                     when '土'
                       'text-primary'
                     when '日'
                       'text-danger'
                     end
                  %>
                  <td><%= l(@attendance.worked_on, format: :short) %></td>
                  <td class="<%= css_class %>"><%= $days_of_the_week[@attendance.worked_on.wday] %></td>
                  <td><%= f.time_field :scheduled_end_time, class: "form-control" %></td>
                  <td><%= f.check_box :next_day, {}, true, false %></td>
                  <td><%= f.text_field :business_process, placeholder: "入力必須", class: "form-control" %></td>
                  <td><%= f.collection_select :confirmation, @superior, :id, :name, {prompt: "上長を選択して下さい"}, {class: "form-control input-sm" ,required: true } %></td>
               </tbody>
             </table>
            <div class="center">
              <%= f.submit yield(:button_text), class: "btn btn-primary btn-block" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>